/* SPDX-FileName: test_sources.css
 * SPDX-FileCopyrightText: 2017-2022  Simon Descarpentries, simon /\ acoeuro [] com
 * SPDX-License-Identifier: GPL-3.0-only
 */
/* TEST SOURCES */
#mp_display_result_test .btn_test {
	width: 1.75vw;
	height: 1.75vw;
	margin: 0.1vw;
	border: solid 0.01vw;
	border-radius: 3px;
	font-size:1vw;
}
.btn_retest {
	background:none;
	border:none;
	float:right;
}
.f_icon {
	display:inline;
	float:left
}
.f_name {
	display:inline-block;
	width:80%;
	text-align:center;
}
#mp_display_result_test {
	display: flex;
	flex-wrap: wrap;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: start;
	width:60vw;
}
#mp_report p {
	text-decoration: none;
	padding: 0.5ex;
}
#mp_display_result_test .success, #mp_report .success {
	color: green !important;
	background: none;
}
#mp_display_result_test .warn, #mp_report .warn {
	color:orange !important;
	background: none;
}
#mp_display_result_test .error, #mp_report .error {
	color:red !important;
	background: none;
}
#mp_display_result_test .network_error, #mp_report .network_error {
	color:purple !important;
	background: none;
}
#mp_display_result_test .default, #mp_report .default {
	color:grey !important;
	background: none;
}
#mp_test_results {
	width:100%;
	padding:1ex;
}
#stat_col_1 {
	float:left;
	height:100%;
	margin-right:1ex;
	display:block;
}
.retro-test-result {
	border: solid 2px;
	padding: 5px;
	margin: 2px;
	border-radius: 5px;
	min-width: 10em;
	z-index: 1;
}
.btn-retro {
	background-color: #D0D0D0;
	border: solid var(--mp-turquoise-background) 2px;
	border-radius: 5px;
	color: var(--mp-turquoise-background);
	padding: 1ex;
	font-weight: bold;
}
/* REPORT TEST */
#mp_filter_report, #mp_clear_filter_report, #mp_search_filter_report {
	margin-top: 1em;
	margin-bottom: 1.25ex;
	padding: 1ex;
	background-color: var(--mp-frame-background);
	border: 1px solid #D0D0D0;
}
#mp_filter_report:focus {outline: none;}
#mp_search_filter_report {
	width: 12%;
	border-left: none;
	border-right: none;
	margin-left: -1ex;
}
#mp_clear_filter_report {
	border-radius: 0 4px 4px 0;
	margin-left: -1ex;
	color: var(--mp-gray);
	border-left: none;
	width: 12%;
	float: right;
}
#mp_filter_report  {
	border-right: none;
	border-radius: 4px 0 0 4px;
	width: 78%;
	font-size:14px
}
#mp_report{
	padding: 0;
}
#mp_report > * {
	background: var(--dark-frame-background);
}
#mp_report .result > *{
	border-left: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	border-radius: 0 0 4px 4px;
}
#mp_report .name_src_report{
	border: 1px solid #D0D0D0;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}
/*#mp_report .name_src_report > div {
	width:100%
}*/
#mp_report .result button{
	display:inline;
	color: black;
}
#mp_report .result > * {
	padding: 0.5ex;
}
.grid_test {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.column_1_test {
  grid-column-start: 3;
}
.sticky_item {
  align-self: start;
  position: sticky;
  top: 10px;
}
.search_test {
  position: sticky;
  top: 2px;
}
.column_1_test li {
  margin-bottom: 1ex;
}
#search_url_component_input {
  width: 85%;
}
#search_url_component_input  > input {
  width: 40%;
}
#container{
  text-shadow: none;
  background: #303030;
  padding: 1em;
}
.label_v_src {
  width: max-content;
}
.general_control {
  display: inline-block;
  width: 100%;
  margin-bottom:-2em;
}
#tab_v_src {
  margin-top:-1em;
}
